@media screen and (min-width: 480px) {
.container {
    max-width: 428px;
}
.menu-close {
    right: 40px;
    top: 40px;
}
.mob-menu-soc-list {
    gap: 56px;
}
.mob-menu-contacts {
    gap: 40px;
}
.mob-menu-contact-phone.link {
    font-size: 36px;
    line-height: 40px;
}
.team> .container {
    width: 294px;
}
.footer-paragraph {
    margin-right: 80px;
    margin-left: 80px;
}
.footer-input-email {
    width: 396px;
}
.modal {
    overflow: auto;
}
.modal-title {
    font-size: 16px;
    line-height: calc(24/16);
}   
}

@media screen and (max-width: 1199px) {
.pictures {
    display: none;
}
.features-icons-item {
    display: none;
}
}

@media screen and (max-width: 767px) {
.header-list, .contacts {
    display: none;
}
}

@media screen and (max-height: 620px) {
    .modal {
        height: 96%;
        overflow: auto;
    }
}
