@media screen and (min-width: 480px) {
.container {
    max-width: 428px;
}
.menu-close {
    right: 40px;
    top: 40px;
}
.mob-menu-soc-list {
    gap: 56px;
}
.hero-title {
    max-width: 333px;
    font-size: 36px;
    line-height: calc(40/36);
    }
.team> .container {
    width: 294px;
}
.footer-paragraph {
    margin-right: 80px;
    margin-left: 80px;
}
.footer-input-email {
    width: 396px;
}
.modal {
    width: 392px;
}
.modal-title {
    font-size: 16px;
    line-height: calc(24/16);
}     
}

@media screen and (max-width: 1199px) {
.pictures {
    display: none;
}
.features-icons-item {
    display: none;
}
}

@media screen and (max-width: 767px) {
.header-list, .contacts {
    display: none;
}
}
